@import "../../../../modules/global";

.hral16e {

.underline-header {
    margin: 0 0px;
    padding: 5px 0;
    border-bottom: 2px solid $black-50;
  }

  .table-row {
    margin: 10px 0px 0; 

    .cell-label {
      padding: 8px 0 10px 15px;
      border-bottom: 1px solid $black-10;
    }

    .cell-input {
      padding: 0 120px 10px 15px;
      border-bottom: 1px solid $black-10;
    }
  }

  .input-with-button {
    width: 65%;
    padding: 0 10px 0 0;
    float: left;

    @media (max-width: 1150px) {
      width: 100%;
      padding: 0;
      float: none;
    }
  }
  .button-with-input {
    padding: 40px 0 0 0; 
    float: right;

    @media (max-width: 1150px) {
      width: 100%;
      padding: 0 0 40px 0;
      float: none;
    }
  }

  .upper {
    text-transform: uppercase;
  }
}