module.exports = {
  devPort: 80,
  site: 'HR12C-ST11',
  apiVersion: 'api',
  apiBaseURL: 'http://localhost/',
  client_id: -1,
  client_secret: '',
  mocker: false,
  mockerStd: false,
  mockerLogin: false
}
